h1 {
    margin: 0;
    color: white;
    
}
#header {

float: top;
background-color: black;
text-align: center;
padding: 25px;
height: 20px;

}

#elements{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}

#bank{
    
    height: 200px;
    width: 200px;
}

#loan-btn {
    margin-top: 50px;
}

#bank-btn{
    margin-top: 50px;
}

#infoSection {
 padding: 2em;
 border: 2px;
 border-radius: 25px;
 background-color: lightgray;
 margin-top: 20px;

}

#laptop-price{
    text-align: right;
    margin-bottom: 20px; 
}

#buy-btn{
    float:right;
}

#laptop-specs{    
    width: 400px;
    height: 150px;
}

#laptop-name{
    text-align: center;
}

#laptop-desc{
    text-align: center;
}

#laptop-img{
    
    height: 200px;
    width: 200px;
}